/* table header: #2d2755 */
/* #231d4b */
body {
  background-color: #170f34;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

* {
  color: inherit;
  box-sizing: border-box;
  user-select: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
}

.body-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 520px;
}

/* @media screen and (max-width: 510px){
  html{
      width: 510px;
      overflow: auto;
  }
}
@media screen and (max-height: 400px){
  html{
      height: 400px;
      overflow: auto;
  }
} */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

table {
  width: 495px;
  border-collapse: collapse;
  text-indent: 0;
  border-color: inherit;
}

.table {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  height: 533px;
}

/* .table-title {
  line-height: 1;
  font-family: Poppins, ui-sans-serif, system-ui;
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.95);
  padding-bottom: 16px;
} */
.table-header {
  height: 37px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-width: 1px;
  background-color: rgb(45, 39, 85);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: rgba(255, 255, 255, 0.44);
}

.table-header-text {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.44);
  cursor: pointer;
}

/* for scrollbar offset */
.table-header td:last-child {
  margin-right: 3px;
}

.table-footer {
  position: relative;
  pointer-events: none;
  bottom: 25px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(35, 29, 75, 1) 35%, rgba(35, 29, 75, 0.5) 55%, rgba(35, 29, 75, 0) 90%, rgba(35, 29, 75, 0) 100%);
  height: 70px;
}

.table-footer .group {
  display: flex;
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 22px;
}

.table-footer .item {}

.table-footer .item.total {
  color: rgba(255, 255, 255, 0.42);
  font-size: 13px;
  padding: 5px 3px 10px 10px;
  margin-bottom: 3px;
  margin-left: 12px;
  margin-right: 30px;
}

td,
p {
  background-color: transparent;
}

/* tr border: #3e3861 */
.paw-text {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

.inner-tr {
  background-color: #231d4b;
  display: flex;
  width: 100%;
  height: 2.5rem;
  -webkit-box-align: center;
  align-items: center;
  border-bottom-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.inner-tr:last-child {
  /* border-bottom-left-radius: 1rem; */
  border-color: rgba(255, 255, 255, 0);
}

.inner-td {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 4px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.inner-td .ticker {
  color: rgba(255, 255, 255, 0.45);
  font-weight: 400;
  font-size: 7pt;
}

.inner-td:last-child {
  justify-content: flex-end;
}

.td-name p {
  cursor: pointer;
}

.td-name p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.td-change-1h, .td-change-24h, .td-change-7d {
  justify-content: center;
}

.td-price, .td-balance, .td-value {
  justify-content: flex-end;
}

.wrapper {
  width: 500px;
  /* max-width: 500px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin: 10px 10px 10px 10px; */
  z-index: 4;
}

.gold-text {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 14px;
  font-weight: 400;
  color: rgb(196, 164, 106);
}

img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

td.td-rank {
  width: 5%;
}

td.td-rank.paw-text {
  font-size: 10px;
}

td.td-logo {
  width: 8%;
}

td.td-name {
  width: 29%;
}

td.td-price {
  width: 9%;
}

td.td-change-1h {
  width: 8%;
}

td.td-change-1h .paw-text {
  font-size: 9px;
}

td.td-change-24h {
  width: 8%;
}

td.td-change-24h .paw-text {
  font-size: 9px;
}

td.td-change-7d {
  width: 8%;
}

td.td-change-7d .paw-text {
  font-size: 9px;
}

td.td-balance {
  width: 15%;
}

td.td-balance .paw-text {
  /* font-size: 9px; */
}

td.td-value {
  width: 15%;
}

/* td.td-rank {
  width: 6%;
}

td.td-name {
  width: 37%;
}

td.td-price {
  width: 19%;
}

td.td-balance {
  width: 19%;
}

td.td-value {
  width: 19%;
} */
.toolbar-container {
  width: 520px;
}

.toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  background-color: #ffffff20;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  /* margin-bottom: 4px; */
  padding: 0 15px;
}

.toolbar-section {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff20;
  border-radius: 8px;
  padding: 2px;
}

.toolbar-section a {
  text-decoration: none;
}

.toolbar-title {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  width: 110px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.toolbar-item {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  /* color: #6c7284; */
  margin: 0px;
  padding: 6px;
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.toolbar-a {
  padding: 0;
}

.toolbar-a a {
  padding: 6px;
  text-decoration: none;
}

.toolbar-icon {
  font-size: 18px;
  line-height: 100%;
  margin: 0;
  border-radius: 8px;
}

.svg-icon {
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(2);
  /* width: 5px;
  height: 5px; */
  padding: 9px;
  opacity: 0.4;
}

.toolbar-item:not(.toolbar-item-active):hover .svg-icon {
  opacity: 1;
}

.toolbar-item:not(.toolbar-item-active):hover {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.1) 60%, rgba(227, 227, 227, 0.2) 80%, rgba(185, 185, 185, 0.1) 100%);
}

.toolbar-item-active {
  color: #FFFFFF;
  border-radius: 5px;
  /* border: 1px solid #6c7284; */
  background-color: #7a7297;
}

/* Corner asthetics */
.corners {
  position: relative;
  /* top: 46px; */
  width: 100%;
  height: 15px;
  background-color: #ffffff20;
  z-index: -1;
}

.corners-mask {
  position: relative;
  width: 520px;
  height: 15px;
  background-color: #170f34;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

/* TOOLTIP */
.tooltip {
  /* position: relative; */
  pointer-events: auto;
}

/* Tooltip text */
.tooltip .tooltiptext {
  /* visibility: hidden; */
  transition: opacity 400ms;
  background-color: #564f81;
  border: 1px solid #c7c7c7;
  color: #c7c7c7;
  font-size: 9pt;
  text-align: center;
  padding: 1px 4px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 45px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
}

/* The asset tooltip */
.tooltip:hover .tooltiptext.tooltip-asset {
  transform: translateY(85px);
  opacity: 1;
}

.tooltip .tooltiptext.tooltip-asset {
  transition: transform 150ms, opacity 400ms;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: transparent;
  border-color: transparent;
  opacity: 0;
  top: -85px;
  left: 0px;
  width: 100%;
}

.tooltip-asset .info {
  background-color: #342d4d;
  padding: 10px;
  margin: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tooltip-asset .info .liquidity, .tooltip-asset .info .volume {
  margin: 3px 3px 0 3px;
  background-color: #4d4763;
  border-radius: 3px;
  padding: 3px;
  color: rgba(255, 255, 255, 0.45);
  font-weight: 400;
  font-size: 8pt;
}

.tooltip-asset .info .liquidity .title, .tooltip-asset .info .volume .title {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  margin-right: 4px;
}

.tooltip-asset .link {
  margin-top: 5px;
  font-size: 7pt;
  color: rgba(255, 255, 255, 0.45);
}

.tooltip-right {
  right: 15px;
}

.tooltip-left {
  left: 15px;
}

.tooltip-bottom-right {
  right: 15px;
  top: inherit !important;
  bottom: 35px !important;
}

.tooltip-bottom-left {
  left: 15px;
  top: inherit !important;
  bottom: 5px !important;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  /* visibility: visible; */
  opacity: 0.95;
}

/* Table column sorting */
.sort-button {
  cursor: pointer;
  /* margin-left: 5px; */
  font-size: 14px;
  font-weight: 600;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.change .paw-text, .change .sort-button {
  font-size: 10px;
  margin-left: 10px;
}

.change .paw-text {
  color: #a0a0a0;
}

.change.pump .paw-text {
  color: #00b000;
}

.change.dump .paw-text {
  color: #b00000;
}

.sort-button.descending, .sort-button.ascending {
  color: rgba(255, 255, 255, 0.87);
}

.table-header .inner-td:hover,
.table-header-text:hover,
.sort-button:not(.descending):not(.ascending):hover {
  color: rgba(255, 255, 255, 0.6);
}

/* sort hover before */
.table-header .inner-td:hover>.sort-button:not(.descending):not(.ascending):not(.after)::before,
.table-header-text:hover+.sort-button:not(.descending):not(.ascending):not(.after)::before,
.sort-button:not(.descending):not(.ascending):not(.after):hover::before {
  margin-right: 3px;
  content: '⬇';
}

/* sort hover after */
.table-header .inner-td:hover>.sort-button:not(.descending):not(.ascending).after::after,
.table-header-text:hover+.sort-button:not(.descending):not(.ascending).after::after,
.sort-button:not(.descending):not(.ascending).after:hover::after {
  margin-left: 3px;
  content: '⬇';
}

/* icon spacing before */
.sort-button.descending:not(.after)::before, .sort-button.ascending:not(.after)::before {
  margin-right: 3px;
}

/* icon spacing after */
.sort-button.descending.after::after, .sort-button.ascending.after::after {
  margin-left: 3px;
}

/* descending icon */
.sort-button.descending:not(.after)::before, .sort-button.descending.after::after,
.sort-button.default-ascending.ascending:not(.after)::before, .sort-button.default-ascending.ascending.after::after  {
  content: '⬇';
}

/* ascending icon */
.sort-button.ascending:not(.after)::before, .sort-button.ascending.after::after,
.sort-button.default-ascending.descending:not(.after)::before, .sort-button.default-ascending.descending.after::after  {
  content: '⬆';
}

/* scrollable table: */
#assets_tbody {
  display: block;
  max-height: 468px;
  height: 468px;
  overflow-y: scroll;
  /* border-bottom-left-radius: 1rem; */
}

#assets_tbody::-webkit-scrollbar {
  width: 3px;
}

#assets_tbody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

#assets_tbody::-webkit-scrollbar-thumb {
  background-color: rgba(45, 39, 85, 0.95);
  outline: 1px solid rgb(45, 39, 85);
  border-radius: 2px;
}

/* Masking */
.masked {
  pointer-events: none;
  opacity: 0.5;
}

#mask {
  display: none;
  font-family: Inter, ui-sans-serif, system-ui;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
}

#mask.show-mask {
  display: block;
}

#mask progress {
  display: none;
}

#mask progress.show {
  display: inline;
}

#mask span {
  display: none;
  margin-bottom: 5px;
}

#mask span.show {
  display: block;
}

progress {
  -webkit-animation: animate-stripes 5s infinite linear;
  animation: animate-stripes 5s infinite linear;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  background-color: transparent;
  transition: all 0.2s;
  border-radius: 3px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #2602e1, #cc04c7);
}

.status-wrapper {
  display: flex;
  align-items: center;
}

.status {
  width: 50%;
  font-family: Inter, ui-sans-serif, system-ui;
  color: rgba(255, 255, 255, 0.3);
  font-size: 8pt;
  line-height: 100%;
  cursor: pointer;
  text-align: center;
  margin-top: 7px;
  margin-right: 5px;
}

.status.hidden {
  display: none;
}

.status a {
  pointer-events: auto;
  color: #aa0;
}

.status:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

/* Alert buttons */
.button-alert {
  filter: grayscale();
}

.button-alert:hover {
  filter: grayscale(0);
}

#snow {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  pointer-events: none;
}
