/* table header: #2d2755 */
/* #231d4b */
body {
  background-color: #170f34;
  margin: 0;
}

* {
  color: inherit;
  box-sizing: border-box;
  user-select: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

table {
  border-collapse: collapse;
  text-indent: 0;
  border-color: inherit;
}

/* .table-title {
  line-height: 1;
  font-family: Poppins, ui-sans-serif, system-ui;
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.95);
  padding-bottom: 16px;
} */
.table-header {
  height: 37px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-width: 1px;
  background-color: rgb(45, 39, 85);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: rgba(255, 255, 255, 0.44);
}

.table-header-text {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.44);
  cursor: pointer;
}

td,
p {
  background-color: transparent;
}

/* tr border: #3e3861 */
.paw-text {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

.inner-tr {
  background-color: #231d4b;
  display: flex;
  width: 100%;
  height: 2.5rem;
  -webkit-box-align: center;
  align-items: center;
  border-bottom-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.inner-tr:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.inner-td {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 4px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.inner-td .ticker {
  color: rgba(255, 255, 255, 0.45);
  font-weight: 400;
  font-size: 8pt;
}

.inner-td:last-child {
  justify-content: flex-end;
}

.td-name p {
  cursor: pointer;
}

.td-name p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.td-price, .td-value {
  justify-content: flex-end;
}

.td-balance {
  justify-content: flex-end;
}

.wrapper {
  width: 500px;
  /* max-width: 500px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 10px 10px 10px 10px;
  z-index: 4;
}

.gold-text {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 14px;
  font-weight: 400;
  color: rgb(196, 164, 106);
}

img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

td.td-rank {
  width: 6%;
}

td.td-name {
  width: 40%;
}

td.td-price {
  width: 18%;
}

td.td-balance {
  width: 18%;
}

td.td-value {
  width: 18%;
}

.toolbar-container {}

.toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  background-color: #ffffff20;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  margin-bottom: 4px;
  padding: 0 15px;
}

.toolbar-section {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff20;
  border-radius: 8px;
  padding: 2px;
}

.toolbar-item {
  font-family: Inter, ui-sans-serif, system-ui;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  /* color: #6c7284; */
  margin: 0px;
  padding: 6px;
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.toolbar-a {
  padding: 0;
}

.toolbar-a a {
  padding: 6px;
  text-decoration: none;
}

.toolbar-icon {
  font-size: 18px;
  line-height: 100%;
  margin: 0;
  border-radius: 8px;
}

.toolbar-item:not(.toolbar-item-active):hover {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.1) 60%, rgba(227, 227, 227, 0.2) 80%, rgba(185, 185, 185, 0.1) 100%);
}

.toolbar-item-active {
  color: #FFFFFF;
  border-radius: 5px;
  /* border: 1px solid #6c7284; */
  background-color: #7a7297;
}

/* Corner asthetics */
.corner-left {
  position: absolute;
  top: 46px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffffff20;
  z-index: -1;
}

.corner-right {
  position: absolute;
  top: 46px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffffff20;
  z-index: -1;
}

.corner-left-mask {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #170f34;
  border-top-left-radius: 1.5rem;
}

.corner-right-mask {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #170f34;
  border-top-right-radius: 1.5rem;
}

/* TOOLTIP */
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #564f81;
  border: 1px solid #c7c7c7;
  color: #c7c7c7;
  font-size: 9pt;
  text-align: center;
  padding: 1px 4px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 45px;
  z-index: 1;
  opacity: 0.95;
}

.tooltip-right {
  right: 15px;
}

.tooltip-left {
  left: 15px;
}

.tooltip-bottom-right {
  right: 15px;
  top: inherit !important;
  bottom: 35px !important;
}

.tooltip-bottom-left {
  left: 15px;
  top: inherit !important;
  bottom: 5px !important;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Table column sorting */
.sort-button {
  cursor: pointer;
  /* margin-left: 5px; */
  font-size: 16px;
  font-weight: 600;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sort-button.descending, .sort-button.ascending {
  color: rgba(255, 255, 255, 0.87);
}

.table-header .inner-td:hover,
.table-header-text:hover,
.sort-button:not(.descending):not(.ascending):hover {
  color: rgba(255, 255, 255, 0.6);
}

.table-header .inner-td:hover>.sort-button:not(.descending):not(.ascending):not(.after)::before,
.table-header-text:hover+.sort-button:not(.descending):not(.ascending):not(.after)::before,
.sort-button:not(.descending):not(.ascending):not(.after):hover::before {
  margin-right: 5px;
  content: '⬇';
}

.table-header .inner-td:hover>.sort-button:not(.descending):not(.ascending).after::after,
.table-header-text:hover+.sort-button:not(.descending):not(.ascending).after::after,
.sort-button:not(.descending):not(.ascending).after:hover::after {
  margin-left: 5px;
  content: '⬇';
}

.sort-button.descending:not(.after)::before, .sort-button.ascending:not(.after)::before {
  margin-right: 5px;
  content: '⬇';
}

.sort-button.descending.after::after, .sort-button.ascending.after::after {
  margin-left: 5px;
  content: '⬇';
}

.sort-button.ascending:not(.after)::before, .sort-button.ascending.after::after {
  content: '⬆';
}

/* Masking */
.masked {
  pointer-events: none;
  opacity: 0.5;
}

#maskText {
  display: none;
  font-family: Inter, ui-sans-serif, system-ui;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
}

#maskText.show-mask {
  display: block;
}

.last-refreshed {
  font-family: Inter, ui-sans-serif, system-ui;
  color: rgba(255, 255, 255, 0.3);
  font-size: 8pt;
  line-height: 100%;
  cursor: pointer;
  text-align: right;
  margin-top: 7px;
  margin-right: 5px;
}

.last-refreshed:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
